@model Manuals.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "EditUserProfile";
}

<h2>Edit User Profile</h2>
@Html.HiddenFor(m => m.Id, new { ng_model = Model.Id })
<h4>@Model.Email</h4>
@if (Model.Id == User.Identity.GetUserId())
{
@Html.ActionLink("Change Password", "ChangePassword", "Manage")
}


<div>
    <button class="btn" ng-click="Theme='DarkTheme'; SaveTheme('DarkTheme');"></button>
    <button class="btn" ng-click="Theme=''; SaveTheme('');"></button>
</div>
