@model Manuals.Models.ApplicationUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "EditUserProfile";
}

<h2>Edit User Profile</h2>
@Html.HiddenFor(m => m.Id)
<h4>@Model.Email</h4>
@if (Model.Id == User.Identity.GetUserId())
{
    @Html.ActionLink("Change Password", "ChangePassword", "Manage")
}


