@model Manuals.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "View Profile";
}

<h2>View Profile</h2>

<p>@Model.Email</p>
@if (Model.Id == User.Identity.GetUserId())
{
    @Html.ActionLink("Edit","EditUserProfile")
}