@{
    ViewBag.Title = "Home Page";
}
@model Manuals.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Main";
    ViewBag.ManualId = "";
}

<div ng-controller="HomeController">
    <div class="row">
        <div class="col-md-7 col-md-offset-2" id="Manuals">
            <div ng-repeat="Manual in Manuals | orderBy: '-DateAdded'">
                <div class="well col-md-12 ng-class:Theme">
                                  
                    <div class="row" style="vertical-align:middle">
                       
                        <div class="col-md-1"  >
                            <div class="btn-group-vertical btn-group-sm pull-left">
                                <button class="btn btn-primary" ng-click="ChangeRating(Manual,true)">Up</button>
                                <div class="btn btn-default disabled" id="rating">{{Manual.Rating}}</div>
                                <button class="btn btn-danger" ng-click="ChangeRating(Manual,false)">Down</button>
                                </div>
                              </div>
                        <div class="col-md-3"   >
                            <img src="{{Manual.User.AvatarSrc}}" class="img-rounded col-md-11" style="width:125px;" ng-show="Manual.User.AvatarSrc!=null"/>

                        </div>
                            <div class="col-md-8" style="text-align:left">
                                <h4>
                                    <a href="/Templates/{{Manual.Template.Name}}?manual={{Manual.Id}}">{{Manual.Name}}</a>
                                    <button class="btn btn-danger btn-sm pull-right " ng-click="DeleteManual(Manual)" ng-show='("@User.IsInRole("Admin")")||(Manual.UserId=="@User.Identity.GetUserId()")'>X</button>
                                </h4>
                                <h5><a href="/User/ViewUserProfile/{{Manual.User.Id}}"> {{Manual.User.FirstName}}  {{Manual.User.SecondName}} <div ng-show="Manual.User.FirstName==null">{{Manual.User.Email}}</div> </a></h5>
                                <h6> Category: {{Manual.Category.Name}}  Tags: <span ng-repeat="tag in Manual.Tags">{{tag.Name}} </span></h6>

                            </div>

                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <jqcloud words="words" autoResize="true" height="100" colors="{{colors}}" delay="3" steps="7" font-size="{from:0.09, to:0.04}"></jqcloud>
        </div>        
    </div>
</div>
