@{
    ViewBag.Title = "Home Page";
}
@model Manuals.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "View Profile";
    ViewBag.ManualId = "";
}

<div ng-controller="HomeController">
    <div class="row">
        <div class="col-md-7 col-md-offset-2" id="Manuals">
            <div ng-repeat="Manual in Manuals | orderBy: '-DateAdded'">
                <div class="well col-md-12 ng-class:Theme">
                                  
                    <div class="row" >
                       
                        <div class="col-md-2"  >
                            <div class="btn-group-vertical btn-group-sm pull-left">
                                <button class="btn btn-primary" ng-click="ChangeRating(Manual,true)">Up</button>
                                <div class="btn btn-default disabled" id="rating">{{Manual.Rating}}</div>
                                <button class="btn btn-danger" ng-click="ChangeRating(Manual,false)">Down</button>
                                </div>
                              </div>
                     
                        <div class="col-md-10">
                            <h4>
                                <a href="/Templates/{{Manual.Template.Name}}?manual={{Manual.Id}}">{{Manual.Name}}</a>
                                <button class="btn btn-danger btn-sm pull-right " ng-click="DeleteManual(Manual)" ng-show='("@User.IsInRole("Admin")")||(Manual.UserId=="@User.Identity.GetUserId()")'>X</button>
                            </h4> 
                            By  <a href="/User/ViewUserProfile/{{Manual.User.Id}}"> {{Manual.User.Email}} </a>
                            <h5>{{Manual.Category.Name}} | <span ng-repeat="tag in Manual.Tags">{{tag.Name}} </span></h5>
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <jqcloud words="words" autoResize="true" height="100" colors="{{colors}}" delay="3" steps="7" font-size="{from:0.09, to:0.04}"></jqcloud>
        </div>        
    </div>
</div>
