@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeController">
    <div class="row">
         <div class="col-md-6 col-md-offset-2">
            <div ng-repeat="Manual in Manuals | orderBy: DateAdded">
                <div class="well">
                    <h4>{{Manual.Id}}. {{Manual.Name}}</h4>
                    <h5>Author: {{Manual.User.Email}}</h5>
                    {{Manual.DateAdded}}
                    <h5>{{Manual.Category.Name}} <span ng-repeat="tag in Manual.Tags">{{tag.Name}} </span></h5>
                </div>
            </div>
        </div>
        <div ng-controller="controller" class="col-md-5 col-md-offset-2">
            <jqcloud words="words" autoResize="true" height="100" colors="{{colors}}" delay="3" steps="7" font-size="{from:0.09, to:0.04}"></jqcloud>
        </div>
    </div>
</div>
