@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
body {
    padding-top: 60px;
    padding-bottom: 20px;
   
  -webkit-animation: fade-in 2s ease-out; /* Safari 4+ */
  -moz-animation: fade-in 2s ease-out; /* Fx 5+ */
  -o-animation: fade-in 2s ease-out; /* Opera 12+ */
  animation: fade-in 2s ease-out; /* IE 10+, Fx 29+ */
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.left-navbar {
    background-color:rgb(255, 255, 255);
    margin-top:10px;
    margin-left:10px;
    padding-left:2em;
 max-width:290px;
  min-width:100px;
 
  
 position:fixed;
}
.DarkTheme {
    background-color:rgb(60, 60, 60);
    border-color:rgb(20, 20, 20);
   color:rgb(180, 180, 180);
   
}
 #Navbar.DarkTheme { 
  background-color:rgb(20, 20, 20);
   color:rgb(200, 200, 200);

}
.ng-binding, DarkTheme {
    color:rgb(108, 108, 108)
}

.well.DarkTheme {
    background-color:rgb(34, 34, 34);
    border-color:rgb(34, 34, 34);
}


.rating{
    padding-top:-30px;
}

 .thumb {
    max-height: 203px;
    max-width:125px;
    border: 0px solid #000;
    margin: 0px 0px 0 0;
    margin-top: 7px;
  }